.footer
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: 18px

    .addresses
        width: 100%
        color: #eee
        li
            margin: 6px 0
            &:hover span + span::before
                width: 102%
                z-index: 0

        span
            font-weight: 600
            color: #21c251
            position: relative
            z-index: 1
            margin-right: 5px
        span + span
            color: white
            &:before
                content: ''
                position: absolute
                transition: all .2s
                height: 100%
                background-color: rgba(0,0,0,.55)
                width: 0
                border-radius: 5px
                position: absolute
                top: 0%
                left: -4px


    .social-media
        margin: 20px 0 10px 0
        li
            margin: 0 10px
            height: 40px
            width: 40px
            display: inline-flex
            justify-content: center
            align-items: center
            border-radius: 40px
            img
                width: 30px
                height: 30px
                border-radius: 50%
