
.header
    display: flex
    width: 100%
    align-items: center
    color: white
    

    ul
        list-style-type: none
        li
            margin: 10px 0
            background-color: rgba(255,253,248, .75)
            border-radius: 5px
            padding: 6px 10px
            transition: all .1s

            &:hover
                box-shadow: 0 0 10px rgba(0,0,0,.3)
            a
                color: #444
                font-size: 18px
                font-weight: bold
                display: flex
                justify-content: center
                align-items: center
                flex-direction: row
                img
                    width: 80px
                    height: 80px
                    margin-right: 10px
