.header
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    position: relative
    height: 100px
    margin: 40px 0
    h1
        font-size: 48px
        font-weight: 900
        margin: 0
    .label
        display: flex
        height: 100%
        position: absolute
        align-items: center
        left: 0
        h1
            font-weight: 700
        img
            height: 100px
            width: 100px
            margin-right: 10px
    .header--wallet
        display: none
        height: 100%
        position: absolute
        align-items: center
        right: 25px
        