.seeding .seeding-input
    width: 100%
    display: flex
    margin: 10px 0
    justify-content: space-between
    align-items: center
    
    .seeding-buttons
        display: flex

        button
            margin-left: 10px

            