*
    margin: 0
    padding: 0
    outline: 0
    border: none
    box-sizing: border-box
    &::-webkit-scrollbar
        width: 5px
        background-color: transparent
    &::-webkit-scrollbar-thumb
        background: linear-gradient(0deg, rgba(56,212,34,1) 0%, rgba(154,255,195,1) 40%, rgba(196,203,234,1) 50%, rgba(207,180,255,1) 60%, rgba(254,156,243,1) 100%)
html
    display: flex
    justify-content: center
    color: map-get($colors, text)
    font-family: 'Inter' !important
    color: #eee 
img
    max-height: 100%
    max-width: 100%
a
    color: white
    text-decoration: none
    &:hover
        color: #fe9cf3

ul
    list-style-type: none

button
    color: #444
    font-size: 14px
    cursor: pointer
    background-color: rgba(255, 253, 248, 0.75)
    border-radius: 4px
    padding: 2px 6px
    font-weight: 500
    margin: 6px 0
    &.disabled
        background-color: #fe9cf3