

@media only screen and (min-width: 1170px)
    .header--wallet
        display: none
@media only screen and (max-width: 900px) 
    .button-drawer
        display: block
        z-index: 100
    .balance, .sidebar
        display: none
    .hideOnMobile
        display: none
    .farm-buttons
        flex-direction: column
        margin-top: 6px
        button
            margin-left: 0 !important
    .process-button
        max-width: 100%
        
@media only screen and (max-width: 700px) 
    .subpage.wallet .flex
        flex-direction: column
        .ant-card
            margin: 10px auto
            

@media only screen and (max-width: 1170px)
    .header
        .label 
            transform: scale(.9)
            h1
                display: none
        .header--wallet
            display: flex !important
    .wallet
        margin: 0 auto
        width: 100%
        &:not(.show)
            display: none

@media only screen and (max-width: 900px)
    .pages, .subpage
        width: calc(100vw - 60px)
    .menu
       grid-template-columns: 1fr 1fr
    .wallet
        width: calc(100vw - 60px)


@media only screen and (max-width: 520px)
    .header
        h1
            font-size: 2rem
        .label 
            left: 0
    .pages
        align-items: center
        justify-content: center
        margin-bottom: 20px
    .menu
        grid-template-columns: 140px 140px
        grid-column-gap: 10px
        grid-row-gap: 10px
        justify-items: center
        width: unset
        .menu--link
            height: 140px
            width: 140px
            img
                height: 66px !important
            &.blocked 
                &::before
                    height: 24px
                &::after
                    font-size: .66rem
                    font-weight: 700
            span
                font-size: 18px