@media only screen and (max-width: 1170px)
    .wallet
        display: none
@media only screen and (min-width: 1170px)
    .header--wallet
        display: none
@media only screen and (max-width: 900px) 
    .button-drawer
        display: block
        z-index: 100
    .balance, .sidebar
        display: none
    .hideOnMobile
        display: none
    .farm-buttons
        flex-direction: column
        margin-top: 6px
        button
            margin-left: 0 !important
    .process-button
        max-width: 100%
@media only screen and (max-width: 700px) 
    .subpage.wallet .flex
        flex-direction: column
        .ant-card
            margin: 10px auto
            