*
    margin: 0
    padding: 0
    outline: 0
    border: none
    box-sizing: border-box
    &::-webkit-scrollbar
        width: 5px
        background-color: transparent
    &::-webkit-scrollbar-thumb
        background: rgba(10,10,10,.4)

html
    display: flex
    justify-content: center
    color: map-get($colors, text)
    font-family: 'Inter', sans-serif 
    font-weight: 600
    color: #eee 
img
    max-height: 100%
    max-width: 100%
a
    color: white
    text-decoration: none
    &:hover
        color: #88dd8f

ul
    list-style-type: none

button
    color: #444
    font-size: 14px
    cursor: pointer
    background-color: rgba(255, 253, 248, 0.75)
    border-radius: 4px
    padding: 2px 6px
    font-weight: 500
    margin: 6px 0
    &.disabled
        background-color: #fe9cf3
       
body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-color: #000

code
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace